@model IEnumerable<Manifiesto.Web.Models.cuscar_users_VM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Usuarios</h2>

<p>
    @Html.ActionLink("Crear Nuevo Permiso", "Create")
</p>

<table class="table table-striped table-bordered table-hover" id="dataTables-example">
 <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aereo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marino)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aereo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marino)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_usuario }) |
        </td>
    </tr>
}

</tbody>
</table>

<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable({
        });
    });
</script>
